.App {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
  }
  
  li span {
    flex: 1;
    margin-right: 10px;
  }
  
  li button {

    background-color: #f44336;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  